/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
    font-family: 'Roboto', sans-seri f;
    margin: 0; 
    background-image: url("assets/burger-friends.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}
header {
    background-color: #0fb9b1; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.hidden {
    display: none; 
}

section {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 200px; 
}
h3 {
    font-weight: normal; 
    padding: 20px 20px;  
    margin: 0; 
    font-size: 1.5em; 
}
span {
    color: #ee5253; 
}

h1 {
    text-align: center; 
    font-size: 3em; 
    margin-top: 0; 
    margin-right: 30px; 
}

h2 {
    font-weight: normal; 
    font-size: 1.8em; 
}
div {
    height: 350px; 
    width: 650px; 
    background-color: rgba(225, 225, 225, .9);
    margin: 50px 120px; 
    padding-top: 60px; 
    padding-left: 35px; 
    padding-bottom: 20px; 
}

button {
    background-color: #0fb9b1; 
    border: none; 
    border-radius: 3px; 
    width: 230px; 
    height: 45px; 
    font-size: 1em; 
    transition-duration: 0.5s; 
}

button:hover {
    background-color: lightcoral;
}

.add {
    background-color: rgba(225, 225, 225, .9);
    width: 150px; 
    margin-right: 25px; 
    transition-duration: 0.5s; 
}

.add:hover {
    background-color: lightcoral;
}

img {
    height: 50%; 
    width: 50%; 
    padding-top: 75px; 
    padding-right: 35px; 
}

label {
    font-size: 1.25em; 
}

p {
    font-style: italic; 
    text-align: center; 
    font-size: 1.5em;  
    margin-top: 100px; 
    margin-bottom: 0; 
    margin-right: 30px; 
}

.clear {
    background-color: #95a5a6;
    color: rgba(225, 225, 225, .9);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 100px; 
    border-radius: 4px; 
}

footer {
    background-color: rgba(225, 225, 225, .9);
    margin-top: auto; 
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.new {
    background-color: #0fb9b1;
    width: 100px; 
    margin-left: 20px; 
}

.text {
    height: 35px; 
}

.recipe {
    padding-left: 20px; 
    padding-right: 5px; 
}

.cookpot {
    position: relative; 
}

